.s-navbar {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  height: 64px;
  align-items: center;
  justify-content: space-between;

  color: white;
  background-color: #265735;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
}

.s-navbar__margin {
  margin-bottom: 64px;
}

.s-logo {
  flex: 1;
  margin: 0 16px;
  font-size: 20px;
  font-weight: 200;
}

.s-menu {
  list-style-type: none;
  display: flex;
  margin: 0 24px;
  font-size: 14px;
  align-items: center;
}

.fa {
  margin-right: 0.25em;
}

.s-menu > * {
  margin-left: 24px;
}

.s-board {
  position: absolute;
  display: flex;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.s-sprint {
  display: flex;
  position: relative;
  border: 1px #999999 dashed;
  border-radius: 4px;
  margin: 16px 0px 16px 16px;
}
.s-sprint__label {
  color: #999999;
  font-size: 12px;
  position: absolute;
  top: -9px;
  left: 13px;
  padding: 0 4px;
  background-color: #efefef;
}

.s-backlog {
  margin: 16px 0px;
}

.s-stories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.s-story {
  display: block;
  position: relative;
  margin: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  width: 120px;
}
.s-story--edited {
  z-index: 20;
}
.s-story__title {
  font-size: 14px;
}

.s-slot {
  position: absolute;
  left: 8px;
  right: 8px;
  height: 40px;
  margin: 0px 4px;
  z-index: 10;
}
.s-slot--before {
  top: -20px;
}
.s-slot--after {
  bottom: -20px;
}
.s-slot.over:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  height: 2px;
  background-color: #999999;
}

.s-story__title--edit {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 32px;
  min-width: 50px;
  font-family: 'Open Sans';
  font-size: 14px;
}

.s-story__size {
  font-size: 12px;
  color: #999999;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.s-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.12);
  z-index: 10;
}

.s-story--size-1 {
  height: 60px;
}
.s-story--size-2 {
  height: 120px;
}
.s-story--size-3 {
  height: 180px;
}

.s-add-story {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 20px;
  height: 20px;
  padding: 10px 9px 10px 11px;
  border-radius: 20px;
  color: white;
  background-color: #265735;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
  cursor: pointer;
}
.s-add-story .fa{
  font-size: 22px;
  margin-right: 0;
}