.s-navbar {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  height: 64px;
  align-items: center;
  justify-content: space-between;

  color: white;
  /* background-color: #00AA99; */
  background-color: #606080;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
}

.s-navbar__margin {
  margin-bottom: 64px;
}

.s-logo {
  flex: 1;
  margin: 0 16px;
  font-size: 20px;
  font-weight: 200;
}

.s-menu {
  list-style-type: none;
  display: flex;
  margin: 0 24px;
  font-size: 14px;
  align-items: center;
}

.fa {
  margin-right: 0.25em;
}

.s-menu > * {
  margin-left: 24px;
}

.s-board {
  position: absolute;
  display: flex;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.s-sprint {
  display: inline-flex;
  position: relative;
  border: 1px #999999 dashed;
  margin: 16px 0px 16px 16px;
}
.s-sprint__label {
  color: #999999;
  font-size: 12px;
  position: absolute;
  top: -9px;
  left: 13px;
  padding: 0 4px;
  background-color: #efefef;
}

.s-backlog {
  /* margin: 16px 0px; */
  margin: 16px;
  display: inline-flex;
}

.s-stories {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  writing-mode: vertical-lr;
  align-content: flex-start;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.s-sprint-story {
  background-color: #cccccc;
  border-radius: 6px;
  margin: -4px;
  padding: 4px;
}

.s-stories > li {
  position: relative;
}

.s-story {
  writing-mode: lr;
  display: block;
  position: relative;
  margin: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  width: 120px;
  cursor: move;
}
.s-story--edited {
  z-index: 120;
}
.s-story__title {
  font-size: 14px;
}

.s-slot {
  position: absolute;
  left: 8px;
  right: 8px;
  height: 40px;
  margin: 0px 4px;
  z-index: 10;
}
.s-slot--before {
  top: -20px;
  z-index: 10;
}
.s-slot--after {
  bottom: -20px;
  z-index: 20;
}
.s-slot.over:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  height: 2px;
  background-color: #999999;
}

/* .s-slot {
  transition: height 0.5s;
}
.s-slot.over {
  height: 100%;
} */

.s-story__title--edit {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 6px;
  bottom: 32px;
  min-width: 116px;
  font-family: 'Open Sans';
  font-size: 14px;
  border: none;
}

.s-story__size {
  font-size: 12px;
  color: #999999;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.s-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.12);
  z-index: 100;
}

.s-story--size-1 {
  height: 60px;
}
.s-story--size-2 {
  height: 120px;
}
.s-story--size-3 {
  height: 180px;
}

.s-actions .s-fab {
  position: absolute;
  bottom: 0px;
}
.s-actions:hover .s-fab {
  opacity: 0.5;
}

.s-actions > :not(.s-fab) {
  bottom: 0px;
}

.s-actions:hover > :not(.s-fab):nth-child(1) {
  bottom: 50px;
}

.s-actions:hover > :not(.s-fab):nth-child(2) {
  bottom: 100px;
}

.s-actions {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 200px;
}

.s-actions > * {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 10px 9px 10px 11px;
  border-radius: 20px;
  color: white;
  background-color: #606080;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
  cursor: pointer;
  transition: bottom 0.5s;
}
.s-actions .fa {
  font-size: 20px;
  margin-right: 0;
}

.s-grow-enter {
  opacity: 0.01;
}

.s-grow-enter.s-grow-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.s-grow-appear {
  opacity: 0.01;
}

.s-grow-appear.s-grow-appear-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.s-grow-leave {
  opacity: 1;
}

.s-grow-leave.s-grow-leave-active {
  opacity: 0.01;
  transition: opacity 5000ms ease-in;
}

.s-milestone {
  writing-mode: lr;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 120;
}
.s-milestone--edited {
  background-color: white;
  z-index: 130;
}
.s-milestone__icon {
  position: absolute;
  top: 7px;
  left: 12px;
  font-size: 14px;
  color: #999999;
}
.s-milestone__label {
  position: absolute;
  top: 7px;
  left: 28px;
  padding: 0 2px;
  font-size: 12px;
  color: #999999;
}

.s-milestone__line {
  position: absolute;
  bottom: 23px;
  right: 8px;
  left: 8px;
  border-bottom: 1px solid #aaaaaa;
}

.s-milestone__date {
  position: absolute;
  bottom: 8px;
  right: 10px;
  padding: 0 4px;
  font-size: 11px;
  color: #999999;
}

.s-milestone__label--edit {
  border: none;
  width: 100px;
  top: 9px;
  cursor: text;
  outline: none;
}

.s-milestone__drag {
  height: 32px;
  width: 168px;
  z-index: 100;
  cursor: move;
  margin: 8px 0;
}
